{
  "singleQuote": true,
  "arrowParens": "avoid",
  "semi": false,
  "useTabs": false,
  "printWidth": 140,
  "tabWidth": 2,
  "importOrder": [
    "^@(.*)/(.*)$",
    "^components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
